{
    "swagger": "2.0",
    "info": 
    {
        "title": "Lifeix Designer API",
        "description": "此API用于Lifeix Football Wemedia",
        "termsOfService": "",
        "contact": 
        {
            "email": "chaochaog@l99.com",
            "name": "曾光伟  苗慧杰  谷超超"
        },

        "license": 
        {
            "name": "Apache 2.0",
            "url": "http://www.apache.org/licenses/LICENSE-2.0.html"
        },

        "version": "1.0.0"
    },

    "host": "api.c-f.com:8000",
    "schemes": 
    [
        "http",
        "https"
    ],

    "basePath": "/football",
    "produces": 
    [
        "application/json"
    ],

    "consumes": 
    [
        "application/json"
    ],

    "tags": 
    [
        
    ],

    "responses": 
    {
        
    },

    "parameters": 
    {
        "apiKeyYHeader": 
        {
            "description": "key",
            "name": "key",
            "type": "string",
            "required": true,
            "default": "visitor",
            "in": "header"
        },

        "authorPath": 
        {
            "description": "作者的Id",
            "name": "authorId",
            "type": "string",
            "required": true,
            "in": "path"
        },

        "categoryPath": 
        {
            "description": "类目Id",
            "name": "categoryId",
            "type": "string",
            "required": true,
            "in": "path"
        },

        "playerPath": 
        {
            "description": "球员Id",
            "name": "playerId",
            "type": "string",
            "required": true,
            "in": "path"
        },

        "teamPath": 
        {
            "description": "队伍Id",
            "name": "teamId",
            "type": "string",
            "required": true,
            "in": "path"
        },

        "matchPath": 
        {
            "description": "比赛Id",
            "name": "matchId",
            "type": "string",
            "required": true,
            "in": "path"
        },

        "competitionPath": 
        {
            "description": "赛事Id",
            "name": "competitionId",
            "type": "string",
            "required": true,
            "in": "path"
        },

        "postPath": 
        {
            "description": "Post的ID",
            "name": "postId",
            "type": "string",
            "required": true,
            "in": "path"
        },

        "objectPath": 
        {
            "description": "喜欢对象的ID",
            "name": "objectId",
            "type": "string",
            "required": true,
            "in": "path"
        },

        "userPath": 
        {
            "description": "用户的ID",
            "name": "userId",
            "type": "string",
            "required": true,
            "in": "path"
        }
    }
}