{
    "swagger": "2.0",
    "info": 
    {
        "title": "Lifeix Football API",
        "description": "仅用于中国足球网",
        "termsOfService": "",
        "contact": 
        {
            "email": "guangweiz@l99.com",
            "name": "曾光伟 苗慧杰 谷超超 徐乐"
        },

        "version": "1.0.0"
    },

    "host": "api.c-f.com",
    "schemes": 
    [
        "http",
        "https"
    ],

    "basePath": "/football",
    "produces": 
    [
        "application/json"
    ],

    "consumes": 
    [
        "application/json"
    ],

    "tags": 
    [
        
    ],

    "responses": 
    {
        
    },

    "parameters": 
    {
        "apiKeyYHeader": 
        {
            "description": "key",
            "name": "key",
            "type": "string",
            "required": true,
            "default": "visitor",
            "in": "header"
        },
        
        "comsumerIdHeader": 
        {
            "description": "用户id",
            "name": "X-Consumer-Custom-ID",
            "type": "string",
            "required": true,
            "in": "header"
        },

        "authorPath": 
        {
            "description": "作者的Id",
            "name": "authorId",
            "type": "string",
            "required": true,
            "in": "path"
        },
        
        "userPath": 
        {
            "description": "用户的Id",
            "name": "userId",
            "type": "string",
            "required": true,
            "in": "path"
        },
        
         "newsPath": 
        {
            "description": "新闻的Id",
            "name": "newsId",
            "type": "string",
            "required": true,
            "in": "path"
        },

        "staffPath": 
        {
            "description": "员工的Id",
            "name": "staffId",
            "format": "int64",
            "type": "integer",
            "required": true,
            "in": "path"
        },

        "competitionPath": 
        {
            "description": "赛事的Id",
            "name": "competitionId",
            "format": "int64",
            "type": "integer",
            "required": true,
            "in": "path"
        },

        "competitionTeamPath": 
        {
            "description": "赛事参赛队的Id",
            "name": "competitionTeamId",
            "format": "int64",
            "type": "integer",
            "required": true,
            "in": "path"
        },

        "teamCategoryPath": 
        {
            "description": "球队分类的Id",
            "name": "teamCategoryId",
            "format": "int64",
            "type": "integer",
            "required": true,
            "in": "path"
        },

        "categoryPath": 
        {
            "description": "类目Id",
            "name": "categoryId",
            "format": "int64",
            "type": "integer",
            "required": true,
            "in": "path"
        },

        "platformPath": 
        {
            "description": "平台：wap、web、app",
            "name": "platform",
            "type": "string",
            "required": true,
            "in": "path"
        },

        "playerPath": 
        {
            "description": "球员Id",
            "name": "playerId",
            "format": "int64",
            "type": "integer",
            "required": true,
            "in": "path"
        },

        "coachPath": 
        {
            "description": "教练Id",
            "name": "coachId",
            "format": "int64",
            "type": "integer",
            "required": true,
            "in": "path"
        },

        "refereePath": 
        {
            "description": "裁判Id",
            "name": "refereeId",
            "format": "int64",
            "type": "integer",
            "required": true,
            "in": "path"
        },

        "teamPath": 
        {
            "description": "队伍Id",
            "name": "teamId",
            "format": "int64",
            "type": "integer",
            "required": true,
            "in": "path"
        },

        "matchTeamPath": 
        {
            "description": "比赛球队的Id",
            "name": "matchTeamId",
            "format": "int64",
            "type": "integer",
            "required": true,
            "in": "path"
        },

        "matchPath": 
        {
            "description": "比赛Id",
            "name": "matchId",
            "format": "int64",
            "type": "integer",
            "required": true,
            "in": "path"
        },

        "postPath": 
        {
            "description": "wemedia系统下Post的ID",
            "name": "postId",
            "type": "string",
            "required": true,
            "in": "path"
        },

        "postPath2": 
        {
            "description": "news系统下Post的ID",
            "name": "postId",
            "type": "string",
            "required": true,
            "in": "path"
        },
        
        "topPath": 
        {
            "description": "Top的ID",
            "name": "topId",
            "type": "string",
            "required": true,
            "in": "path"
        },

		"decisionCategoryPath": 
        {
            "description": "你来判类目Id",
            "name": "categoryId",
            "type": "string",
            "required": true,
            "in": "path"
        },
        
        "decisionRoundPath": 
        {
            "description": "你来判轮次Id",
            "name": "roundId",
            "type": "string",
            "required": true,
            "in": "path"
        },
        
        "decisionItemPath": 
        {
            "description": "你来判题目Id",
            "name": "itemId",
            "type": "string",
            "required": true,
            "in": "path"
        },

		"elearningCategoryPath": 
        {
            "description": "elearning类目Id",
            "name": "categoryId",
            "type": "string",
            "required": true,
            "in": "path"
        },

		"elearningPagePath":
		{
            "description": "elearning单篇ID",
            "name": "pageId",
            "type": "string",
            "required": true,
            "in": "path"
        },

		"elearningPageIndexPath":
		{
            "description": "elearning单篇顺序索引",
            "name": "pageIndex",
            "type": "integer",
            "format": "int32",
            "required": true,
            "in": "path"
        },
        
        "elearningExercisePath": 
        {
            "description": "elearning练习ID",
            "name": "exerciseId",
            "type": "string",
            "required": true,
            "in": "path"
        },
        
        "elearningVideoPath": 
        {
            "description": "elearning视频ID",
            "name": "videoId",
            "type": "string",
            "required": true,
            "in": "path"
        }
    }
}