{
    "swagger": "2.0",
    "info": 
    {
        "title": "Lifeix Designer API",
        "description": "此API用于Lifeix Football Wemedia",
        "termsOfService": "",
        "contact": 
        {
            "email": "chaochaog@l99.com",
            "name": "曾光伟  苗慧杰  谷超超"
        },

        "license": 
        {
            "name": "Apache 2.0",
            "url": "http://www.apache.org/licenses/LICENSE-2.0.html"
        },

        "version": "1.0.0"
    },

    "host": "api.c-f.com:8000",
    "schemes": 
    [
        "http",
        "https"
    ],

    "basePath": "/football",
    "produces": 
    [
        "application/json"
    ],

    "consumes": 
    [
        "application/json"
    ],

    "tags": 
    [
        
    ],

    "responses": 
    {
        
    },

    "parameters": 
    {
        "apiKeyYHeader": 
        {
            "description": "key",
            "name": "key",
            "type": "string",
            "required": true,
            "default": "visitor",
            "in": "header"
        },

        "authorPath": 
        {
            "description": "作者的Id",
            "name": "authorId",
            "type": "string",
            "required": true,
            "in": "path"
        },

        "staffPath": 
        {
            "description": "员工的Id",
            "name": "staffId",
            "format": "int64",
            "type": "integer",
            "required": true,
            "in": "path"
        },

        "competitionPath": 
        {
            "description": "赛事的Id",
            "name": "competitionId",
            "format": "int64",
            "type": "integer",
            "required": true,
            "in": "path"
        },

        "competitionTeamPath": 
        {
            "description": "赛事参赛队的Id",
            "name": "competitionTeamId",
            "format": "int64",
            "type": "integer",
            "required": true,
            "in": "path"
        },

        "teamCategoryPath": 
        {
            "description": "球队分类的Id",
            "name": "teamCategoryId",
            "format": "int64",
            "type": "integer",
            "required": true,
            "in": "path"
        },

        "categoryPath": 
        {
            "description": "类目Id",
            "name": "categoryId",
            "format": "int64",
            "type": "integer",
            "required": true,
            "in": "path"
        },

        "platformPath": 
        {
            "description": "平台：wap、web、app",
            "name": "platform",
            "type": "string",
            "required": true,
            "in": "path"
        },

        "playerPath": 
        {
            "description": "球员Id",
            "name": "playerId",
            "format": "int64",
            "type": "integer",
            "required": true,
            "in": "path"
        },

        "coachPath": 
        {
            "description": "教练Id",
            "name": "coachId",
            "format": "int64",
            "type": "integer",
            "required": true,
            "in": "path"
        },

        "refereePath": 
        {
            "description": "裁判Id",
            "name": "refereeId",
            "format": "int64",
            "type": "integer",
            "required": true,
            "in": "path"
        },

        "teamPath": 
        {
            "description": "队伍Id",
            "name": "teamId",
            "format": "int64",
            "type": "integer",
            "required": true,
            "in": "path"
        },

        "matchTeamPath": 
        {
            "description": "比赛球队的Id",
            "name": "matchTeamId",
            "format": "int64",
            "type": "integer",
            "required": true,
            "in": "path"
        },

        "matchPath": 
        {
            "description": "比赛Id",
            "name": "matchId",
            "format": "int64",
            "type": "integer",
            "required": true,
            "in": "path"
        },

        "postPath": 
        {
            "description": "Post的ID",
            "name": "postId",
            "type": "string",
            "required": true,
            "in": "path"
        },

		"elearningTrainingCategoryPath": 
        {
            "description": "elearning培训类目Id",
            "name": "categoryId",
            "type": "string",
            "required": true,
            "in": "path"
        },

		"elearningQuizCategoryPath": 
        {
            "description": "elearning测试类目Id",
            "name": "categoryId",
            "type": "string",
            "required": true,
            "in": "path"
        },
        
        "elearningVideoPath": 
        {
            "description": "elearning视频的ID",
            "name": "videoId",
            "type": "string",
            "required": true,
            "in": "path"
        }
    }
}