{
    "swagger": "2.0",
    "info": 
    {
        "title": "中国足球网API - Games系统",
        "description": "用于展示国家队信息以及赛事信息",
        "termsOfService": "",
        "contact": 
        {
            "email": "chaochaog@l99.com",
            "name": "古超超"
        },

        "version": "1.0.0"
    },

    "host": "api.c-f.com",
    "schemes": 
    [
        "http"
    ],

    "basePath": "/football",
    "produces": 
    [
        "application/json"
    ],

    "consumes": 
    [
        "application/json"
    ],

    "tags": 
    [
        
    ],

    "responses": 
    {
        
    },

    "parameters": 
    {
        "apiKeyYHeader": 
        {
            "description": "key",
            "name": "key",
            "type": "string",
            "required": true,
            "in": "header"
        },

        "staffPath": 
        {
            "description": "员工的Id",
            "name": "staffId",
            "format": "int64",
            "type": "integer",
            "required": true,
            "in": "path"
        },

        "competitionPath": 
        {
            "description": "赛事的Id",
            "name": "competitionId",
            "format": "int64",
            "type": "integer",
            "required": true,
            "in": "path"
        },

        "competitionTeamPath": 
        {
            "description": "赛事参赛队的Id",
            "name": "competitionTeamId",
            "format": "int64",
            "type": "integer",
            "required": true,
            "in": "path"
        },

        "teamCategoryPath": 
        {
            "description": "球队分类的Id",
            "name": "teamCategoryId",
            "format": "int64",
            "type": "integer",
            "required": true,
            "in": "path"
        },
        
        "teamPath": 
        {
            "description": "队伍Id",
            "name": "teamId",
            "format": "int64",
            "type": "integer",
            "required": true,
            "in": "path"
        },

        "matchTeamPath": 
        {
            "description": "比赛球队的Id",
            "name": "matchTeamId",
            "format": "int64",
            "type": "integer",
            "required": true,
            "in": "path"
        },

        "matchPath": 
        {
            "description": "比赛Id",
            "name": "matchId",
            "format": "int64",
            "type": "integer",
            "required": true,
            "in": "path"
        },

        "playerPath": 
        {
            "description": "球员Id",
            "name": "playerId",
            "format": "int64",
            "type": "integer",
            "required": true,
            "in": "path"
        },

        "coachPath": 
        {
            "description": "教练Id",
            "name": "coachId",
            "format": "int64",
            "type": "integer",
            "required": true,
            "in": "path"
        },

        "refereePath": 
        {
            "description": "裁判Id",
            "name": "refereeId",
            "format": "int64",
            "type": "integer",
            "required": true,
            "in": "path"
        }
    }
}