{
    "swagger": "2.0",
    "info": 
    {
        "title": "中国足球网API - Elearning系统",
        "description": "用于点赞",
        "termsOfService": "",
        "contact": 
        {
            "email": "huijiem@l99.com",
            "name": "苗慧捷"
        },

        "version": "1.0.0"
    },

    "host": "api.c-f.com",
    "schemes": 
    [
        "http"
    ],

    "basePath": "/football",
    "produces": 
    [
        "application/json"
    ],

    "consumes": 
    [
        "application/json"
    ],

    "tags": 
    [
        
    ],

    "responses": 
    {
        
    },

    "parameters": 
    {
        "apiKeyYHeader": 
        {
            "description": "key",
            "name": "key",
            "type": "string",
            "required": true,
            "in": "header"
        },
        "elearningCategoryPath": 
        {
            "description": "elearning类目Id",
            "name": "categoryId",
            "type": "string",
            "required": true,
            "in": "path"
        },

        "elearningPagePath":
        {
            "description": "elearning单篇ID",
            "name": "pageId",
            "type": "string",
            "required": true,
            "in": "path"
        },

        "elearningPageIndexPath":
        {
            "description": "elearning单篇顺序索引",
            "name": "pageIndex",
            "type": "integer",
            "format": "int32",
            "required": true,
            "in": "path"
        },
        
        "elearningExercisePath": 
        {
            "description": "elearning练习ID",
            "name": "exerciseId",
            "type": "string",
            "required": true,
            "in": "path"
        },
        
        "elearningVideoPath": 
        {
            "description": "elearning视频ID",
            "name": "videoId",
            "type": "string",
            "required": true,
            "in": "path"
        },
        
        "elearningReportPath": 
        {
            "description": "elearning测试报告ID",
            "name": "reportId",
            "type": "string",
            "required": true,
            "in": "path"
        },
        
        "elearningMaterialPath": 
        {
            "description": "elearning资料文档ID",
            "name": "materialId",
            "type": "string",
            "required": true,
            "in": "path"
        }
    }
}